{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Contrasena.css' %}" />

   


  <title>Recuperar Contraseña</title>
 
</head>
<body>
  <div class="container">
    <div class="card">
      <h2>Recuperar Contraseña</h2>
      <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
      <input type="email" placeholder="Correo electrónico" />
      <button>Enviar Enlace</button>
    </div>
  </div>
</body>
</html>
